.card-title {
    color: purple;
    font-weight: bold;
}
.card-subtitle {
    Color: purple;
    font-weight: bold;
    text-align: center;
    border-top: 25px;
} 
#comp {
    padding:25px;
}
#border {
    border-style: solid;
    border-color: purple;
    
}